{
  "env": {
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": ["plugin:prettier/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "embeddedLanguageFormatting": "auto",
        "endOfLine": "lf",
        "htmlWhitespaceSensitivity": "strict",
        "insertPragma": false,
        "jsxSingleQuote": true,
        "printWidth": 80,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false,
        "vueIndentScriptAndStyle": false
      }
    ],
    "yoda": ["error", "always"]
  },
  "ignorePatterns": ["node_modules/"]
}
